# utils
python-dotenv
wikipedia
PyPDF2
tiktoken
sentence_transformers==2.2.2
torch==2.0.1

# databases
neo4j
pymongo
motor==3.5.1

# api 
fastapi
pydantic
uvicorn
sse-starlette

# missing from the langchain base image?
langchain-community
langchain-mongodb

# 3rd party genai apps
boto3 # AWS
openai  # Openai
langchain-openai
langchain-google-genai
