beautifulsoup4
docker
fastapi
langchain
langchain_community
langchain_core
langgraph
langchain-ollama
langchain_google_genai
langchain_mongodb
langchain_openai
langchain_huggingface
motor
neo4j
passlib[bcrypt]
pydantic[email]
pydantic-settings
pyjwt
python-multipart
pymongo
PyPDF2
python-jose[cryptography]
Requests
typing_extensions
uvicorn