beautifulsoup4
docker
fastapi
jinja2
langchain
langchain_community
langchain_core
langgraph
langchain-ollama
langchain_mongodb
langchain-neo4j
motor
neo4j
passlib[bcrypt]
pdf2image
pycryptodome
pydantic[email]
pydantic-settings
pyjwt
python-multipart
pymongo
PyPDF2
python-jose[cryptography]
Requests
streamlit
typing_extensions
uvicorn